extends base.pug

block content 
        //- h2 #{video.views}
        h2 #{video.views} #{video.views == 1 ? "view" : "views" }
        h2 #{video.rating}/5 점
        a(href=`${video.id}/edit`) Edit Video &rarr;
  

